:root {
    /* Colors */
    --bg: #F1F1F1;
    --fg: #373737;
    --gro: #9bb2e5;
    --grt: #698cbf;
    --dbg: #cccccc;
    --ddbg: #bbbbbb;
    --bbb: #373737;
}

.dark-theme {
    /* Colors */
    --bg: #121212;
    --fg: #F6F7F7;
    --gro: #edc772;
    --grt: #edc772;
    --dbg: #626262;
    --ddbg: #555655;
    --bbb: #494A49
}

@font-face {
    font-family: readex;
    src: url('./fonts/ReadexPro-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: boogaloo;
    src: url('./fonts/Boogaloo-Regular.ttf');
    font-weight: bold;
}
