:root {
    /* Colors */
    --bg: #EFEFE3;
    --fg: #373737;
    --gro: #FA9372;
    --grt: #EF709B;
    --dbg: #D9D9D9;
    --ddbg: #cecece;
}

:root.dark-mode {
    /* Colors */
    --bg: #121212;
    --fg: #E5E5E5;
    --gro: #BB86FC;
    --grt: #BB86FC;
    --dbg: #373737;
}

@font-face {
    font-family: readex;
    src: url('./fonts/ReadexPro-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: boogaloo;
    src: url('./fonts/Boogaloo-Regular.ttf');
    font-weight: bold;
}
