@import url("colors.css");

.body {
    background-color: var(--bg);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo_wrap_home {
    position: relative;
    max-width: 1200px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 0.8em;
    margin-top: -1.25em;
    width: max-content;
}

.logo_combine_home {
    display: inline-flex;
    padding-bottom: 50px;
}

.logo_text_home {
    position: relative;
    margin: auto;
    font-size: 7em;
    font-family: readex;
}

.logo_wrapper {
    width: 460px;
    display: inline-flex;
    position: relative;
    justify-content: right;
}

input[type="text"], input[type="submit"] {
    border: none;
    height: 40px;
}

input[type="text"]:hover, input[type="text"]:focus {
    border-inline-style: 2px solid var(--bg);
    outline: none;
    writing-mode: horizontal-tb;
}

.search_url_wrapper {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.search_url_homepage {
    color: var(--bg);
    border-radius: 4px;
    font-size: x-large;
    font-family: readex;
    text-indent: 10px;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    z-index: 1;
    position: relative;
}

.search_button_homepage {
    color: var(--bg);
    appearance: none;
    border-radius: 0px 4px 4px 0px;
    box-sizing: content-box;
    width: 1em;
    display: block;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    text-align: center;
    border: none;
    position: absolute;
    bottom: 0em;
    right: 0em;
    z-index: 2;
    outline: none;
}

#search_url_homepage_id {
    background-image: linear-gradient(to right, var(--gro), var(--grt));
    width: 100%;
}

#search_button_homepage_id {
    border-radius: 0px 4px 4px 0px;
    min-width: 8%;
    background-color: transparent;
}

.search_bar_homepage:hover  #search_button_homepage_id {
    /* background-image: linear-gradient(to right, var(--gro), var(--grt)); */
    background-color: var(--bg);
    opacity: 0.4;
}