.body {
    background-color: var(--bg);
    margin: 0;
}

.content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo_wrap_home {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.logo_combine_home {
    display: inline-flex;
    padding-bottom: 50px;
}

.logo_text_home {
    font-size: 7em;
    font-family: readex;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    right: 50%;
    left: 0;
    margin: 0px;
    margin-top: 4%;
    text-align: left;
}

.logo_wrapper {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    right: 0;
    text-align: right;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.breaker {
    display: block;
    width:100%;
}

.up {
    display: flex;
}

.down {
    display: flex;
    margin-top: 20px;
}

.form_container {
    font-size: larger;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    outline: none;
    border-radius: 4px;
    height: 30px;
    background-color: var(--dbg);
    box-sizing: content-box;
    display: inline-block;
    width: 90%;
    padding: 4px;
    font-size: large;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-inline-style: 2px solid var(--bg);
    outline: none;
    writing-mode: horizontal-tb;
}

.sign-up_container {
    font-family: boogaloo;
    border: 5px solid transparent;
    border-image-slice: 1;
    background: linear-gradient(var(--bg), var(--bg)) padding-box, linear-gradient(to right, var(--gro), var(--grt)) border-box;
    padding: 25px;
    text-align: center;
    border-radius: 4px;
    margin-top: 15%;
}

.buttons_container {
    margin: 5%;
    margin-top: 7%;
}

input[type=submit] {
    background-image: linear-gradient(to right, var(--gro), var(--grt));
    border: none;
    width: 80%;
    font-size: 1.1em;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button_sign-up {
    height: 30px;
    margin-bottom: 3%;
}

input[type=submit]:hover {
    background-position: right center;
}

input[type=button] {
    background-color: var(--dbg);
    border: none;
    color: var(--fg);
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
