<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" ></script>
    <script>
      const savedTheme = sessionStorage.getItem('theme');
      if (sessionStorage.getItem('theme') === 'dark-theme') {
        document.querySelector('body').classList.add('dark-theme');
      }
    </script>
    {% block styles %}{% endblock %}
  </head>
  <body class="body">
    {% block body %}
    {% endblock %}
  </body>
</html>
