{% extends "base.html" %}

{% block title %}SEING{% endblock %}

{% block styles%}
{{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('.static', filename='homePage.css')}}"
/>
{% endblock %}

{% block body %}
<body class="body" style="margin: 0px auto">
  <div class="top_widget">
    <p class="top_widget_text">UI revamped, privacy corrected</p>
    <a href="/profile">
      <img
        src="{{ url_for('static', filename='assets/sign_in_icon_widget.png') }}"
        alt="account icon"
        width="42"
        height="42"
      />
    </a>
  </div>
  <div class="content">
    <div class="logo_wrap_home">
      <div class="logo_combine_home">
        <p class="logo_text_home">SEING</p>
        <div class="logo_wrapper">
          <img
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="einstein smiles"
            width="125"
            height="150"
          />
        </div>
      </div>
      <div class="search_bar_homepage">
        <form method="POST" action="/">
          {{ form.query(class='search_url_homepage', id='search_url_homepage_id', placeholder='Search The Web') }}
          {{ form.submit(class='search_button_homepage', id='search_button_homepage_id') }}
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
