{% extends "base.html" %} {% block title %}SEING Login{% endblock %} {% block
styles%} {{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('.static', filename='login.css')}}"
/>
{% endblock %} {% block body %}
<body class="body" style="margin: 0px auto">
  <div class="content">
    <div class="logo_wrap_home">
      <div class="logo_combine_home">
        <p class="logo_text_home">SEING</p>
        <div class="logo_wrapper">
          <img
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="einstein smiles"
            width="125"
            height="150"
          />
        </div>
      </div>
      <div class="login_container">
        <div style="margin: 5%;">
            <form method="POST" action="#">
            <h1 style="font-size: 3.5em;">Welcome Back!</h1>
            <p style="text-align: left;padding-left: 5%;font-size: large;" >Username/Email</p>
            <input
                style="width: 90%;padding-left: 2%;"
                type="text"
                name="mail"
                tabindex="1"
                placeholder="example@domain.com"
                value=""
                autocapitalize="none"
                autocorrect="off"
            />
            <p style="text-align: left;padding-left: 5%;margin-top: 10%;font-size: large;" >Password</p>
            <input
                style="width: 90%;padding-left: 2%;"
                type="password"
                name="password"
                tabindex="1"
                placeholder="********"
                value=""
                autocapitalize="none"
                autocorrect="off"
            />
            <div class="buttons_container">
              <div class="button_login">
                <input type="submit" tabindex="2" value="Login" />
              </div>
                <input
                style="width: 39%;"
                type="button"
                tabindex="1"
                value="Forget Password"
                />
                <input type="button" style="width: 39%;" onclick="window.location.href='/signup';" tabindex="2" value="Sign Up" />
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
